# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env # Ignore .env files where sensitive API keys are stored
.flaskenv

# IDEs and Editors
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db
.vercel
